@model Employee_Management_System.Models.ViewModels.TaskAssignmentViewModel

@{
    ViewData["Title"] = "Assign Task Details";
}

<h2>Assign Task Details</h2>

<div>
    <strong>Title:</strong> @Model.Title <br />
    <strong>Employee:</strong> @Model.EmployeeName <br />
    <strong>Status:</strong> @Model.Description <br />
    <strong>Due Date:</strong> @Model.DueDate.ToShortDateString() <br />
    
</div>

<a class="btn btn-primary" asp-action="Index">Back to List</a>
