html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.wrapper {
    display: flex;
}

.sidebar {
    min-width: 220px;
    max-width: 220px;
    background-color: #343a40;
    color: white;
    min-height: 100vh;
}

    .sidebar a {
        display: block;
        color: #ffffff;
        padding: 12px 20px;
        text-decoration: none;
    }

        .sidebar a:hover {
            background-color: #495057;
            text-decoration: none;
        }

.content {
    flex: 1;
    padding: 20px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 1000;
    }

    .content {
        margin-top: 220px;
    }
}

