@model Employee_Management_System.Models.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = Model.Id == 0 ? "Create Employee" : "Edit Employee";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="@(Model.Id == 0 ? "Create" : "Edit")" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Designation"></label>
        <input asp-for="Designation" class="form-control" />
        <span asp-validation-for="Designation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="JoiningDate"></label>
        <input type="date" asp-for="JoiningDate" class="form-control" />
        <span asp-validation-for="JoiningDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DepartmentId">Department</label>
        <select asp-for="DepartmentId" class="form-select" asp-items="Model.Departments"></select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
     <button type="submit" class="btn btn-success mt-1">Save</button>
     <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}